{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <script type="text/javascript">
    function validate_required(field,alerttxt)
    {
      with (field)
      {
        if (value==null||value=="")
          {alert(alerttxt);return false}
        else {return true}
      }
    }
    function validate_form(thisform)
    {
      with (thisform)
      {
          if (validate_required(suggest_title,"Title must be filled out!")==false)
              {suggest_title.focus();return false}
          if (validate_required(suggest_text,"Text must be filled out!")==false)
              {suggest_text.focus();return false}
      }
    }
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>大家来找茬</title>

    <!-- Bootstrap -->
    <link href="{% static "bootstrap-3.3.5/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "flat-ui/dist/css/flat-ui.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static "flat-ui/img/favicon.ico" %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <style>
  .col-center-block {
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  </style>
  <body>
    <div class="container-fluid">
    <form action="/order_suggest/{{wechat_id}}" method="post">
      <div class="span7 text-center">
        <h3 class="demo-panel-title">标题</h3>
        <div> 
            <input type="text" name='suggest_title' />
        </div>
      </div>
      <div class="form-group span7 text-center">
        <h4 class="demo-panel-title">内容</h3>
       <div>
            <textarea rows="10" cols="17"  name='suggest_text'></textarea>
       </div> 
      </div>
      <button type="submit" class="btn btn-primary btn-block">欢乐吐槽</button>
    </form>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "bootstrap-3.3.5/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "flat-ui/js/radiocheck.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js" %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static "bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.fr.js" %}" charset="UTF-8"></script>
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });
	$('.form_date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });
	$('.form_time').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 1,
		minView: 0,
		maxView: 1,
		forceParse: 0
    });
</script>
  </body>
</html>
